/* src/App.css */

body {
  font-family: "Century Gothic", sans-serif;
  background-color: #090919;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.panel {
  flex: 1;
  background: #f9ffd4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}


.left-panel {
  min-width: 50%;
}

.right-panel {
  min-width: 50%;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  color: #4aa7e6;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.analyze-button {
  display: block;
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px; 
  border: 0.5px solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.analyze-button:hover {
  background-color: #2a8dcb;
}

.code-container {
  width: 100%;
  max-width: 100%;
}

.code-editor {
  width: 100%;
  height: 180px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-family: monospace;
  font-size: 14px;
  resize: vertical;
  overflow: auto;
  background-color: #f8f8f8;
}

.image-top-left {
  position: absolute;
  top: 20px; 
  left: 20px; 
  width: 350px; 
  height: auto;
  filter: invert(1) brightness(100);
}
